5_XML/Ejercicio_2_XSD/orderdetails.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="Orderdetails">
    <xs:complexType>
      <xs:sequence>

        <xs:element name="Customer" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>

              <xs:element name="fname" minOccurs="0">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute name="from" type="xs:string" use="required"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>

              <xs:element name="cname" type="xs:string" minOccurs="0"/>

              <xs:element name="destination">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute name="Country" type="xs:string" use="required"/>
                      <xs:attribute name="Delivdate" type="xs:string" use="required"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>

              <xs:element name="email" type="xs:string" minOccurs="0"/>
              <xs:element name="eid" type="xs:string" minOccurs="0"/>

            </xs:sequence>

            <xs:attribute name="id" type="xs:unsignedByte" use="required"/>

          </xs:complexType>
        </xs:element>

      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>